<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo-navegador.png" type="Logo para el navegador">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/ficha-hibilitacion.css">
    <link rel="stylesheet" href="/css/productos.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fichas Habilitación - Parte 2</title>
</head>

<body class="bg-[#ffe1d2]">
    <!-- Elemento Nav Bar -->
    <nav>
        <div class="grid grid-cols-2 content-center bg-[#e2aa80] bg-opacity-45 w-full start-0 px-[10%] md:px-[5%] items-stretch h-[10vh] md:h-[9vw] lg:h-[8vw] xl:h-[7vw] 2xl:h-[6vw] rounded-b-full py-10 md:py-0">
            <div class="grid-span-1 self-center justify-self-start">
                <a th:href="@{/habilitacion}">
                    <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#ff8a00] fuente_1 hover:bg-[#ff9b00] focus:ring-4 focus:outline-none focus:ring-[#ffac00] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">VOLVER 
                        <svg class="ml-[0.85vw] md:ml-[0.65vw] xl:ml-[0.25vw] h-[20px] w-[20px] md:h-[20px] md:w-[20px] lg:h-[24px] lg:w-[24px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14m3-6.25a.75.75 0 0 0 0-1.5H6.81l.72-.72a.75.75 0 0 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 1 0 1.06-1.06l-.72-.72z" clip-rule="evenodd"/></svg>
                    </button>
                </a>
            </div>
            <div class="grid-span-1 self-center justify-self-end">
                <a th:href="@{/cerrar-sesion}">
                    <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#db4900] fuente_1 hover:bg-[#ff5500] focus:ring-4 focus:outline-none focus:ring-[#e8763d] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">CERRAR SESIÓN 
                        <svg xmlns="http://www.w3.org/2000/svg" class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[18px] w-[18px] md:h-[18px] md:w-[18px] lg:h-[20px] lg:w-[20px]" viewBox="0 0 512 512"><path fill="white" d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/></svg>
                    </button>
                </a>
            </div>
        </div>
    </nav>
    <div class="flex justify-center items-center min-h-screen p-5">
        <div class="w-full max-w-2xl p-6 border-[#db4900] border-opacity-40 rounded-3xl shadow  sm:p-6 md:p-8 bg-opacity-40 bg-[#db4900]">
            <form id="formulario2" class="space-y-6" th:action="@{/guardar-ficha-parte2}"
                th:object="${fichaHabilitacion}" method="post" target="_blank">
                
                    <!-- Fila 1: Maquilero -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-5">
                        <div class="flex items-center mb-3  ">
                            <img class="h-auto w-auto rounded-lg" src="/img/logo.png" alt="image description">
                        </div>
                        <div class="flex items-center mb-3">
                            <label for="maquilero" class="text-sm font-medium text-white-900 text-white w-[39.5%] sm:w-[61%]">Maquilero:</label>
                            <input type="text" name="maquilero" id="maquilero" class="bg-[#db4900] border-orange-300 text-gray-900 text-sm rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5  border-orange-500 placeholder-white-400 text-white placeholder-white" th:field="*{maquilero}" required>
                        </div>
                    </div>
                    <!-- Fila 2: Dobleces y Bultos -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                        <div>
                            <input type="hidden" id="sumaDobleces" class="text-sm font-medium text-gray-900 text-white ml-[10%]" th:field="*{sumaDobleces}"></input>
                            
                                <div class="flex items-center mb-3">
                                    <label for="cantidadDobleces"
                                        class="text-sm font-medium text-gray-900 text-white mr-2 w-[38%] sm:w-auto">Cantidad de dobleces:</label>
                                    <select name="cantidadDobleces" id="cantidadDobleces" class="bg-[#db4900] border-orange-300 text-gray-900 text-sm rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5  border-orange-500 placeholder-white-400 text-white">
                                        <option value="" selected>Seleccionar Cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <!-- Puedes añadir más opciones según tus necesidades -->
                                    </select>
                                </div>
                            
                        </div>

                        <div class="flex items-center mb-3">
                            <label for="cantidadTallas"
                                class="text-sm font-medium text-gray-900 text-white mr-2 w-[30%] sm:w-auto">Cantidad de Tallas:</label>
                            <select name="cantidadTallas" id="cantidadTallas" class="bg-[#db4900] border-orange-300 text-gray-900 text-sm rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-[80%] p-2.5  border-orange-500 placeholder-white-400 text-white">
                                <option value="" selected>Seleccionar Cantidad</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <!-- Puedes añadir más opciones según tus necesidades -->
                            </select>
                        </div>
                    </div>

                    <!-- Fila 3: Cantidad de Tallas y Cantidad de dobleces -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                        <div>
                            <div id="contenedorDobleces" class="grid grid-cols-1 sm:grid-cols-1 gap-6"></div>
                        </div>
                        <div>
                            <div id="contenedorListas" class="grid grid-cols-1 sm:grid-cols-1 gap-6 mb-3"></div>
                            <div id="contenedorBultos" class="grid grid-cols-1 sm:grid-cols-1 gap-6 mb-3"></div>
                        </div>
                    </div>
                

                <!-- Botones -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 place-items-center mt-4">
                    <button type="reset" id="borrarButton" class="w-60 py-4 text-white bg-[#db4900] hover:bg-[#ff5500] focus:ring-4 focus:ring-[#e8763d] focus:outline-none font-medium rounded-3xl text-sm text-center bg-[#db4900]">Borrar</button>
                    <button type="submit" class="w-60 py-4 text-white bg-[#db4900] hover:bg-[#ff5500] focus:ring-4 focus:ring-[#e8763d] focus:outline-none font-medium rounded-3xl text-sm text-center bg-[#db4900]" onclick="handleButtonClick()">GENERAR PDF</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/dinamicList.js"></script>
    <script src="/js/actionPDF.js"></script>
    <script src="/js/validation.js"></script>

</body>
</html>