<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" href="/img/logo-navegador.png" type="Logo para el navegador">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/error.css">
  <title>Rubert’s Denim - Error</title>
</head>
<body class="bg-[#ffe1d2]">
  <div class="grid place-items-center absolute inset-0">
    <div class="w-[95%] md:w-[95%] lg:w-[80%] xl:w-[80%] 2xl:w-[60%] lg:pb-[4%] lg:pt-[4%] xl:pb-[2%] xl:pt-[2%]">
      <div class="hidden lg:block">
        <div class="flex justify-center">
          <img class="object-cover lg:h-[25vw] xl:h-[17vw] mb-12" src="/img/error-imagen.png" alt="Imagen Error">
        </div>
      </div>
      <div>
        <div class="px-[10%] md:px-[15%] lg:px-[0%]">
          <h1 class="fuente_2 text-start md:text-start lg:text-center text-6xl md:text-8xl mb-9">¡Ups!</h1>
          <h2 class="fuente_2 text-start md:text-start lg:text-center text-2xl md:text-4xl mb-5">Ha ocurrido un Error</h2>
          <!-- th:text="${message}" -->
          <p class="fuente_3 text-justify text-sm md:text-2xl mb-9 lg:px-[10%] xl:px-[20%] 2xl:px-[13%]" th:text="${message}">Descripción del error que está sucediendo.</p>
        </div>
        <div class="block lg:hidden">
          <div class="flex justify-center mb-[30vw] md:mb-[30vw] pt-[5%] md:pt-[5%] lg:pb-[0%] lg:pt-[0%]">
            <img class="object-cover h-[40vw] md:h-[35vw] mb-9" src="/img/error-imagen.png" alt="Imagen Error">
          </div>
        </div>
        <div class="hidden lg:block">
          <div class="flex justify-center">
            <a th:href="@{/inventario}">
              <button type="button" class="flex items-center justify-center h-auto lg:w-[28vw] xl:w-[22vw] 2xl:w-[17vw] mx-0 my-0 lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#ff5500] fuente_1 hover:bg-[#db4900] focus:ring-4 focus:outline-none focus:ring-[#e8763d] rounded-full lg:text-2xl xl:text-2xl lg:py-3 text-center">VOLVER
                <svg class="lg:ml-[1vw] xl:ml-[0.40vw] lg:h-[32px] lg:w-[32px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14m3-6.25a.75.75 0 0 0 0-1.5H6.81l.72-.72a.75.75 0 0 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 1 0 1.06-1.06l-.72-.72z" clip-rule="evenodd"/></svg>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block lg:hidden">
    <footer class="absolute bottom-0 w-full h-[42vh] md:h-[50vh] -z-10">
      <div class="absolute inset-0">
        <img class="object-cover w-full h-full" src="/img/error-fondo.png" alt="Fondo">
      </div>
    </footer>
    <div class="flex justify-center pb-[7vh] md:pb-[9vh] absolute bottom-0 w-full z-10">
      <a th:href="@{/inventario}">
        <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[75vw] md:w-[50vw] mx-2 my-1.5 md:mx-0 md:my-1.5 px-[4vw] md:px-[3vw] text-white bg-[#ff5500] fuente_1 hover:bg-[#db4900] focus:ring-4 focus:outline-none focus:ring-[#e8763d] rounded-full text-2xl md:text-4xl py-2 md:py-5 text-center">VOLVER
          <svg class="ml-[1.10vw] md:ml-[1vw] h-[25px] w-[25px] md:h-[40px] md:w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14m3-6.25a.75.75 0 0 0 0-1.5H6.81l.72-.72a.75.75 0 0 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 1 0 1.06-1.06l-.72-.72z" clip-rule="evenodd"/></svg>
        </button>
      </a>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>