<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo-navegador.png" type="Logo para el navegador">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/ficha-hibilitacion.css">
    <link rel="stylesheet" href="/css/productos.css">
    <title>Fichas Habilitación - Parte 1</title>
</head>
<body>
    <div class="bg-[#ffe1d2]">
        <!-- Elemento Nav Bar -->
        <nav>
            <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 content-center bg-[#e2aa80] bg-opacity-45 w-full start-0 px-[10%] md:px-[5%] items-stretch h-[18vh] md:h-[18vw] lg:h-[8vw] xl:h-[7vw] 2xl:h-[6vw] rounded-b-[90px] lg:rounded-b-full py-20 md:py-0">
                <div class="grid-span-1 flex justify-center">
                    <a th:if="${usuario.role == 'ADMIN'}" th:href="@{/usuarios}">
                        <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto mx-2 my-1.5 md:mx-0 md:my-1.5 lg:my-0 px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#ff8a00] fuente_1 hover:bg-[#ff9b00] focus:ring-4 focus:outline-none focus:ring-[#ffac00] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">VER USUARIOS 
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[20px] w-[20px] md:h-[20px] md:w-[20px] lg:h-[24px] lg:w-[24px]" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"><path d="M11.5 15H7a4 4 0 0 0-4 4v2m18.378-4.374a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/><circle cx="10" cy="7" r="4"/></g></svg>
                        </button>
                    </a>
                </div>
                <div class="grid-span-1 flex justify-center">
                    <a th:href="@{/inventario}">
                        <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto mx-2 my-1.5 md:mx-0 md:my-1.5 lg:my-0 px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#ff8a00] fuente_1 hover:bg-[#ff9b00] focus:ring-4 focus:outline-none focus:ring-[#ffac00] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">VER INVENTARIO 
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[19px] w-[19px] md:h-[18px] md:w-[18px] lg:h-[22px] lg:w-[22px]" viewBox="0 0 640 512"><path fill="white" d="M0 488V171.3c0-26.2 15.9-49.7 40.2-59.4L308.1 4.8c7.6-3.1 16.1-3.1 23.8 0L599.8 111.9c24.3 9.7 40.2 33.3 40.2 59.4V488c0 13.3-10.7 24-24 24H568c-13.3 0-24-10.7-24-24V224c0-17.7-14.3-32-32-32H128c-17.7 0-32 14.3-32 32V488c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24zm488 24l-336 0c-13.3 0-24-10.7-24-24V432H512l0 56c0 13.3-10.7 24-24 24zM128 400V336H512v64H128zm0-96V224H512l0 80H128z"/></svg>
                        </button>
                    </a>
                </div>
                <div class="grid-span-1 flex justify-center">
                    <a th:href="@{/pedido}">
                        <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto mx-2 my-1.5 md:mx-0 md:my-1.5 lg:my-0 px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#ff8a00] fuente_1 hover:bg-[#ff9b00] focus:ring-4 focus:outline-none focus:ring-[#ffac00] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">HACER PEDIDOS 
                        <svg class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[24px] w-[24px] md:h-[24px] md:w-[24px] lg:h-[28px] lg:w-[28px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path fill="white" d="M5 8h8.45H13h.35zm11 0h3zM5.4 6h13.2l-.85-1H6.25zm4.6 6.75l2-1l2 1V8h-4zM5 21q-.825 0-1.412-.587T3 19V6.525q0-.35.113-.675t.337-.6L4.7 3.725q.275-.35.687-.538T6.25 3h11.5q.45 0 .863.188t.687.537l1.25 1.525q.225.275.338.6t.112.675v3.9q0 .425-.288.713t-.712.287t-.712-.288t-.288-.712V8h-3v3.825q-.875.5-1.525 1.238t-1.025 1.662L12 14l-2.55 1.275q-.5.25-.975-.037T8 14.375V8H5v11h7.775q.425 0 .713.288t.287.712q0 .4-.288.7t-.712.3zm14 0q-.425 0-.712-.288T18 20v-2h-2q-.425 0-.712-.288T15 17t.288-.712T16 16h2v-2q0-.425.288-.712T19 13t.713.288T20 14v2h2q.425 0 .713.288T23 17t-.288.713T22 18h-2v2q0 .425-.288.713T19 21M5 8h8.45H13h.35z"/>
                        </svg>
                        </button>
                    </a>
                </div>
                <div class="grid-span-1 flex justify-center">
                    <a th:href="@{/cerrar-sesion}">
                        <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto mx-2 my-1.5 md:mx-0 md:my-1.5 lg:my-0 px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#db4900] fuente_1 hover:bg-[#ff5500] focus:ring-4 focus:outline-none focus:ring-[#e8763d] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">CERRAR SESIÓN 
                            <svg class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[18px] w-[18px] md:h-[18px] md:w-[18px] lg:h-[20px] lg:w-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="white" d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
        </nav>
        <div class="flex justify-center items-center min-h-screen">
            <div class="max-w-3xl lg:max-w-4xl p-6 border-[#db4900] border-opacity-40 rounded-3xl shadow sm:p-6 md:p-8 bg-opacity-40 bg-[#db4900] p-[10vw] m-[10vw]">
                <form id="formulario" class="space-y-6" th:action="@{/guardar-ficha-parte1}"
                    th:object="${fichaHabilitacion}" method="post">
                    <!-- Primera fila -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-5">
                        <!-- Checkbox personalizado -->
                        <div class="flex items-center mb-3  ">
                            <img class="h-auto w_auto rounded-lg" src="/img/logo.png" alt="image description">
                        </div>

                        <div class="flex items-center mb-3 ">
                            <label for="fecha" class="text-sm sm:text-base font-bold w-[94%] sm:w-[60%] text-white-900 text-white">Fecha
                                actual:</label>
                            <input type="date" id="fecha" name="fecha"
                            class="bg-[#db4900] border border-orange-300 text-white-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full lg:w-[79%] sm:w-full sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-orange-400 text-white"
                                th:field="*{fecha}" required>
                        </div>
                    </div>

                    <!-- Segunda fila -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                        <div class="flex items-center mb-3">
                            <label for="estilo"
                                class="text-sm sm:text-base font-bold w-[95%] sm:w-[55%]  text-white-900 text-white">Estilo:</label>
                            <input type="text" name="estilo" id="estilo"
                                class="bg-[#db4900] border-orange-300 text-gray-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full sm:w-full sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-white-400 text-white placeholder-white"
                                th:field="*{estilo}" required>
                        </div>
                        <div class="flex items-center mb-3">
                            <label for="corte" class="text-sm sm:text-base font-bold w-[95%] sm:w-[60%] text-gray-900 text-white">Corte:</label>
                            <input type="text" name="corte" id="corte"
                                class="bg-[#db4900] border-orange-300 text-gray-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full sm:w-full lg:w-[78%] sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-white-400 text-white placeholder-white"
                                th:field="*{corte}" required>
                        </div>
                        <div class="flex items-center mb-3">
                            <label for="tipos" class="text-sm sm:text-base font-bold w-[100%] sm:w-[60%] text-gray-900 text-white mr-2">Tipo de corte:
                            </label>
                            <select name="tipos" id="tipos"
                                class="bg-[#db4900] border-orange-300 text-gray-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full sm:w-full sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-white-400 text-white"
                                th:field="*{tipos}" required>
                                <option value="" selected>Seleccionar tipo de corte</option>
                                <option th:each="tipos : ${tipos}" th:value="${tipos.guy}" th:text="${tipos.guy}">Tipo
                                </option>
                            </select>
                        </div>
                        <div class="flex items-center mb-3">
                            <label for="etapas" class="text-sm sm:text-base font-bold w-[100%] sm:w-[60%] mr-2 sm:mr-0 text-gray-900 text-white">Etapas de
                                corte:
                            </label>
                            <select name="etapas" id="etapas"
                                class="bg-[#db4900] border-orange-300 text-gray-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full lg:w-[75%] sm:w-full sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-white-400 text-white placeholder-white"
                                th:field="*{etapas}" required>
                                <option value="" selected>Seleccionar tipo de corte</option>
                                <option th:each="etapas : ${etapas}" th:value="${etapas.etapa}"
                                    th:text="${etapas.etapa}">Etapas del corte
                                </option>
                            </select>
                        </div>
                        <div class="flex items-center mb-3">
                            <label for="cadena"
                                class="text-sm sm:text-base font-bold w-[100%] sm:w-[60%]  text-gray-900 text-white mr-2">Cadena:</label>
                            <select name="cadena" id="cadena"
                                class="bg-[#db4900] border-orange-300 text-gray-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full sm:w-full sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-white-400 text-white"
                                th:field="*{cadena}" required>
                                <option value="" selected>Seleccionar cadena</option>
                                <option th:each="cadena : ${cadenas}" th:value="${cadena.name_chain}"
                                    th:text="${cadena.name_chain}">Cadena</option>
                            </select>
                        </div>
                        <div class="flex items-center mb-3">
                            <label for="departamentos"
                                class="text-sm sm:text-base font-bold w-[100%] sm:w-[60%]  text-gray-900 text-white mr-2">Departamento:</label>
                            <select name="departamentos" id="departamentos"
                                class="bg-[#db4900] border-orange-300 text-gray-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full sm:w-full lg:w-[78%] sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-white-400 text-white"
                                th:field="*{departamentos}" required>
                                <option value="" selected>Seleccionar departamento</option>
                                <option th:each="departamento : ${departamentos}"
                                    th:value="${departamento.name_departament}"
                                    th:text="${departamento.name_departament}">Nombre del Departamento</option>
                            </select>
                        </div>

                    </div>


                    <!-- Tercera fila -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                        <div class="flex items-center mb-3">
                            <label for="fechaEntrega" class="text-sm sm:text-base font-bold w-[90%] sm:w-[60%]  text-gray-900 text-white mr-1">Fecha de
                                Entrega:</label>
                            <input type="date" id="fechaEntrega" name="fechaEntrega"
                                class="bg-[#db4900] border border-orange-300 text-white-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full sm:w-full sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-orange-400 text-white"
                                th:field="*{fechaEntrega}" required>
                        </div>
                        <div class="flex items-center mb-3">
                            <label for="procesos" class="text-sm sm:text-base font-bold w-[100%] sm:w-[60%]  text-gray-900 text-white mr-2">Proceso:</label>
                            <select name="procesos" id="procesos"
                                class="bg-[#db4900] border-orange-300 text-gray-900 text-xs sm:text-sm font-bold  rounded-3xl focus:ring-orange-500 focus:border-orange-500 block w-full lg:w-[79%] sm:w-full sm:ml-[4%] sm:text-sm md:text-xs sm:text-sm p-2.5 border-orange-500 placeholder-white-400 text-white"
                                th:field="*{procesos}" required onchange="actualizarColores()">
                                <option value="" selected>Seleccione el proceso</option>
                                <option value="blench">Blench</option>
                                <option value="stone medio">Stone Medio</option>
                                <option value="stone alto">Stone Alto</option>
                                <option value="destroyer">Destroyer</option>
                                <option value="teñido">Teñido</option>
                                <option value="suavizado">Suavizado</option>
                            </select>
                        </div>
                        
                        <!-- Contenedor para colores -->
                        <div id="contenedorColores" class="grid grid-cols-1 sm:grid-cols-1 gap-6"></div>
                        

                    </div>

                    <!-- Botones -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 place-items-center">
                        <!-- Botón de Borrar -->
                        <button type="button" id="boton-borrar" onclick="document.getElementById('formulario').reset();"
                            class="py-4 w-[65%] md:w-[50%]  text-white bg-[#db4900] hover:bg-[#ff5500] focus:ring-4 focus:ring-[#e8763d] focus:outline-none  rounded-3xl text-sm sm:text-base font-bold  py-2.5 text-center bg-[#db4900]">
                            Borrar
                        </button>
                        <!-- Botón de Siguiente -->
                        <button type="submit" id="boton-siguiente"
                            class="py-4 w-[65%] md:w-[50%] text-white bg-[#db4900] hover:bg-[#ff5500] focus:ring-4 focus:ring-[#e8763d] focus:outline-none  rounded-3xl text-sm sm:text-base font-bold  py-2.5 text-center bg-[#db4900]">
                            Siguiente
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/validation.js"></script>
    <script src="/js/dinamic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>