<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="/img/logo-navegador.png" type="Logo para el navegador">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/productos.css">
    <title>Rubert’s Denim - Productos</title>
</head>
<body class="bg-[#ffe1d2]">
    
    <!-- Elemento Nav Bar -->
    <nav>
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 content-center bg-[#e2aa80] bg-opacity-45 w-full start-0 px-[10%] md:px-[5%] items-stretch h-[18vh] md:h-[18vw] lg:h-[8vw] xl:h-[7vw] 2xl:h-[6vw] rounded-b-[90px] lg:rounded-b-full py-20 md:py-0">
            <div class="grid-span-1 flex justify-center">
                <a th:if="${usuario.role == 'ADMIN'}" th:href="@{/usuarios}">
                    <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto mx-2 my-1.5 md:mx-0 md:my-1.5 lg:my-0 px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#ff8a00] fuente_1 hover:bg-[#ff9b00] focus:ring-4 focus:outline-none focus:ring-[#ffac00] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">VER USUARIOS 
                        <svg xmlns="http://www.w3.org/2000/svg" class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[20px] w-[20px] md:h-[20px] md:w-[20px] lg:h-[24px] lg:w-[24px]" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"><path d="M11.5 15H7a4 4 0 0 0-4 4v2m18.378-4.374a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/><circle cx="10" cy="7" r="4"/></g></svg>
                    </button>
                </a>
            </div>
            <div class="grid-span-1 flex justify-center">
              <a th:href="@{/pedido}">
                  <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto mx-2 my-1.5 md:mx-0 md:my-1.5 lg:my-0 px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#ff8a00] fuente_1 hover:bg-[#ff9b00] focus:ring-4 focus:outline-none focus:ring-[#ffac00] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">HACER PEDIDOS 
                    <svg class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[24px] w-[24px] md:h-[24px] md:w-[24px] lg:h-[28px] lg:w-[28px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path fill="white" d="M5 8h8.45H13h.35zm11 0h3zM5.4 6h13.2l-.85-1H6.25zm4.6 6.75l2-1l2 1V8h-4zM5 21q-.825 0-1.412-.587T3 19V6.525q0-.35.113-.675t.337-.6L4.7 3.725q.275-.35.687-.538T6.25 3h11.5q.45 0 .863.188t.687.537l1.25 1.525q.225.275.338.6t.112.675v3.9q0 .425-.288.713t-.712.287t-.712-.288t-.288-.712V8h-3v3.825q-.875.5-1.525 1.238t-1.025 1.662L12 14l-2.55 1.275q-.5.25-.975-.037T8 14.375V8H5v11h7.775q.425 0 .713.288t.287.712q0 .4-.288.7t-.712.3zm14 0q-.425 0-.712-.288T18 20v-2h-2q-.425 0-.712-.288T15 17t.288-.712T16 16h2v-2q0-.425.288-.712T19 13t.713.288T20 14v2h2q.425 0 .713.288T23 17t-.288.713T22 18h-2v2q0 .425-.288.713T19 21M5 8h8.45H13h.35z"/>
                    </svg>
                  </button>
              </a>
            </div>
            <div class="grid-span-1 flex justify-center">
              <a th:href="@{/habilitacion}">
                  <button type="button" class="flex items-center justify-center break-all md:break-normal h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto mx-2 my-1.5 md:mx-0 md:my-1.5 lg:my-0 px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#ff8a00] fuente_1 hover:bg-[#ff9b00] focus:ring-4 focus:outline-none focus:ring-[#ffac00] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">HABILITACIONES 
                    <svg class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[20px] w-[20px] md:h-[20px] md:w-[20px] lg:h-[24px] lg:w-[24px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M2.9 8.875h8.2a2.305 2.305 0 0 1 0 4.61H2.9a2.305 2.305 0 0 1 0-4.61m7.545-7.379h-7c-.351 0-.636.254-.636.568v6.243c0 .314.285.568.636.568h7c.351 0 .636-.254.636-.568V2.064c0-.314-.285-.568-.636-.568"/><path d="M8.218 1.496v2.838a.27.27 0 0 1-.093.2a.339.339 0 0 1-.225.084H5.99a.339.339 0 0 1-.224-.083a.27.27 0 0 1-.093-.2v-2.84M3.735 11.43a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5m3.265.5a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5m3.265.5a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"/></g>
                    </svg>
                  </button>
              </a>
            </div>
            <div class="grid-span-1 flex justify-center">
                <a th:href="@{/cerrar-sesion}">
                    <button type="button" class="flex items-center justify-center h-12 md:h-auto w-[35vw] md:w-[26vw] lg:w-auto mx-2 my-1.5 md:mx-0 md:my-1.5 lg:my-0 px-[4vw] md:px-[3vw] lg:px-[2.5vw] xl:px-[2vw] text-white bg-[#db4900] fuente_1 hover:bg-[#ff5500] focus:ring-4 focus:outline-none focus:ring-[#e8763d] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-2 md:py-3 text-center">CERRAR SESIÓN 
                        <svg class="ml-[1.15vw] md:ml-[0.85vw] xl:ml-[0.45vw] h-[18px] w-[18px] md:h-[18px] md:w-[18px] lg:h-[20px] lg:w-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="white" d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </nav>

    <div class="grid grid-cols-1">
        <div class="col-span-1">
            <!-- Elemento Drawer -->
            <div class="absolute inset-0 flex items-center justify-center xl:mt-[7vw] xl:md-[7vw] 2xl:mt-[6vw] 2xl:md-[6vw] w-[0%] md:w-[0%] lg:w-[0%] xl:w-[18%] 2xl:w-[15%]">
                <div id="drawer" class="grid grid-cols-12 fixed left-0 z-40 pt-6 pr-2 pb-6 pl-6 md:pt-6 md:pr-2 md:pb-6 md:pl-6 lg:pt-6 lg:pr-2 lg:pb-6 lg:pl-6 xl:px-6 py-9 bg-[#ef986d] rounded-3xl transition-transform duration-300 ease-in-out -translate-x-[82.5%] w-[60%] md:-translate-x-[82.5%] md:w-[35%] lg:-translate-x-[82.5%] lg:w-[25%] xl:-translate-x-[0%] xl:w-[18%] 2xl:-translate-x-[0%] 2xl:w-[15%] max-h-[70%] overflow-y-auto scrollbar-hidden">             
                    <div class="col-span-10 md:col-span-10 lg:col-span-10 xl:col-span-12">
                        <div class="">
                            <form th:action="@{/inventario}">
                                <div class="flex">
                                    <input type="text" name="palabraClave" id="palabraClave" th:value="${palabraClave}" class="fuente_2 rounded-none rounded-s-3xl bg-[#ff5500] border border-[#ff5500] text-white focus:ring-transparent focus:border-transparent hover:bg-[#FF6619] block text-xs md:text-sm lg:text-sm xl:text-base w-[65%] w-full py-3 pl-5 pr-2 md:w-full lg:w-full placeholder-white focus:border-transparent" placeholder="Buscar" required>
                                    <button type="submit" class="inline-flex items-center pl-2 pr-3 text-white bg-[#ff5500] border border-e-0 border-[#ff5500] rounded-e-3xl focus:ring-transparent focus:border-transparent hover:bg-[#FF6619]">
                                        <svg class="w-6 h-6 md:w-7 md:h-7 lg:w-7 lg:h-7 xl:w-8 xl:h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 512 512">
                                            <path d="M256 64C150.13 64 64 150.13 64 256s86.13 192 192 192s192-86.13 192-192S361.87 64 256 64m80 294.63l-54.15-54.15a88.08 88.08 0 1 1 22.63-22.63L358.63 336Z"/>
                                            <circle cx="232" cy="232" r="56" fill="white"/>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <ul>
                            <li class="flex justify-center">
                                <a href="/inventario" class="flex items-center justify-center w-[80%] mt-[16%]">
                                    <button id="btn_all_productos" type="button" class="text-white bg-[#ff8a00] fuente_3 xl:hover:bg-[#ff7152] border-2 border-black rounded-3xl text-xs md:text-base lg:text-base xl:text-lg 2xl:text-xl text-center py-1.5 xl:py-1.5 w-[100%]">Ver Todo</button>
                                </a>
                            </li>
                            <li th:each="categoria : ${categorias}" class="flex justify-center">
                                <button type="button" th:id="'btn_' + ${categoria.nombre}" th:text="${categoria.nombre}" class="capitalize flex items-center justify-center text-white bg-[#ff8a00] fuente_3 xl:hover:bg-[#ff7152] border-2 border-black rounded-3xl text-xs md:text-base lg:text-base xl:text-lg 2xl:text-xl text-center py-1.5 xl:py-1.5 w-[80%] mt-[6%]">Category</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-0 flex justify-center">
                        <button id="btn_mostrar" type="button" class="block xl:hidden bg-transparent hover:bg-[#ffab74] hover:text-gray-900 rounded-lg w-9 h-9 inline-flex items-center justify-center mt-0.5 ml-1 md:mt-1 md:ml-2 px-2">
                            <svg class="w-5 h-5 md:w-6 md:h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 448 512">
                                <path fill="white" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                            </svg>
                            <span class="sr-only">Abrir Menu</span>
                        </button>
                        <button id="btn_ocultar" type="button" class="hidden xl:hidden text-gray-400 bg-transparent hover:bg-[#ffab74] hover:text-gray-900 rounded-lg w-9 h-9 inline-flex items-center justify-center mt-0.5 ml-1 md:mt-1 md:ml-2 px-2">
                            <svg class="w-5 h-5 md:w-6 md:h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 448 512">
                                <path fill="white" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                            </svg>
                            <span class="sr-only">Cerra Menu</span>
                        </button>
                    </div>
                </div>       
            </div>
            
            <!-- Elemento Principal Productos -->
            <div class="flex flex-wrap justify-evenly ml-[10%] md:ml-[6%] lg:ml-[4.5%] xl:ml-[18%] 2xl:ml-[15%]">
                <div th:if="${usuario.role == 'ADMIN'}" class="mb-2 mt-3 xl:mb-4 xl:mt-5 pt-[10vw] md:pt-[8vw] lg:pt-[5vw] w-[39vw] md:w-[26vw] lg:w-[21vw] xl:w-[22vw] 2xl:w-[18vw] mx-[1vw] my-[1vw]">
                    <div class="bg-[#e8763d] rounded-t-[45px]">
                        <div class="relative flex justify-center">
                            <div class="absolute flex justify-center w-full -top-[10vw] md:-top-[8vw] lg:-top-[5vw] h-[18vw] md:h-[12vw] lg:h-[8vw] rounded-3xl">
                                <img class="object-cover" src="/img/productos-subir-imagen.png" alt="Subir Producto">
                            </div>
                        </div>
                        <div class="p-[6%] pt-[9vw] md:pt-[5vw] lg:pt-[3.5vw]">
                            <div class="">
                                <div class="mb-[0.1vw] h-10">
                                </div>
                                <p class="flex justify-center text-center fuente_4 text-base md:text-xl lg:text-xl xl:text-2xl text-white truncate">Nuevo Producto</p>
                                <p class="justify-center text-center fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white truncate">Color</p>
                                <p class="justify-center text-center fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white truncate">Longitud</p>
                                <p class="justify-center text-center fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white truncate">Tamaño</p>
                            </div>
                            <div class="flex justify-center mt-2">
                                <button onclick="openModalProductAdd()" type="button" class="px-[1.5vw] md:px-[1vw] text-white bg-[#db4900] fuente_1 hover:bg-[#ff5500] focus:ring-4 focus:outline-none focus:ring-[#da6930] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-1 text-center">AGREGAR</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:each="producto : ${productos}" class="mb-2 mt-3 xl:mb-4 xl:mt-5 pt-[10vw] md:pt-[8vw] lg:pt-[5vw] w-[39vw] md:w-[26vw] lg:w-[21vw] xl:w-[22vw] 2xl:w-[18vw] mx-[1vw] my-[1vw]">
                    <div class="bg-[#e8763d] rounded-t-[45px]">
                        <div class="relative flex justify-center">
                            <div class="absolute flex justify-center w-full -top-[10vw] md:-top-[8vw] lg:-top-[5vw] h-[18vw] md:h-[12vw] lg:h-[8vw] rounded-3xl">
                                <img class="object-cover rounded-t-[20px] md:rounded-t-[25px] lg:rounded-t-[35px]" th:src="${producto.imagen != null} ? ${producto.imagen} : '/img/producto-sin-imagen.png'" alt="Imagen del Producto">
                            </div>
                        </div>
                        <div class="p-[6%] pt-[9vw] md:pt-[5vw] lg:pt-[3.5vw]">
                            <div class="">
                                <div class="grid grid-cols-12 flex items-stretch mb-[0.1vw] h-10 px-[1.15vw]">
                                    <div class="inline-flex col-span-10 place-self-center justify-self-start">
                                        <p th:if="${producto.cantidad >= 200}" type="button" class="inline-flex bg-[#0ca64e] fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white px-3 py-1 rounded-3xl truncate">En Stock</p>
                                        <p th:if="${producto.cantidad < 200}" type="button" class="inline-flex bg-[#ed2027] fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white px-3 py-1 rounded-3xl truncate">Stock Bajo</p>
                                    </div>
                                    <button th:attr="onclick=|openModalDetails('${producto.idProducto}')|" type="button" class="absolute inline-flex col-span-2 place-self-center justify-self-end text-white p-1.5 bg-[#ffaf00] hover:bg-[#FFBA20] rounded-xl"><svg class="w-4 h-4 md:w-6 md:h-6 lg:w-6 lg:h-6 xl:w-7 xl:h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6.5a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75M8 6a1 1 0 1 1 0-2a1 1 0 0 1 0 2"/></svg></button>
                                </div>
                                <p th:text="${producto.nombre}" data-format="true" class="capitalize flex justify-center text-center fuente_4 text-base md:text-xl lg:text-xl xl:text-2xl text-white truncate">Nombre:</p>
                                <p th:if="${producto.categoria != 'etiquetas' && producto.categoria != 'empaque'}" class="text-center fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white truncate">Color: <span th:text="${producto.color}" data-format="true" class="capitalize ml-1 md:ml-3 text-justify fuente_5 text-white truncate"></span></p>
                                <p th:if="${producto.categoria == 'etiquetas' || producto.categoria == 'empaque'}" class="text-center fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white truncate">Tipo: <span th:text="${producto.tipo}" class="capitalize ml-1 md:ml-3 text-justify fuente_5 text-white truncate"></span></p>
                                <p class="text-center fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white truncate">Cantidad: <span th:text="${producto.cantidad}" class="ml-1 md:ml-3 text-justify fuente_5 text-white truncate"></span></p>
                                <p class="text-center fuente_2 text-xs md:text-sm lg:text-sm xl:text-base text-white truncate">Categoría: <span th:text="${producto.categoria}" class="capitalize ml-1 md:ml-3 text-justify fuente_5 text-white truncate"></span></p>
                            </div>
                            <div th:if="${usuario.role == 'ADMIN'}"class="flex justify-evenly mt-2">
                                <a th:href="@{/inventario/update/{id}(id=${producto.idProducto})}" >
                                    <button type="button" class="px-[1.5vw] md:px-[1vw] text-white bg-[#ff8a00] fuente_1 hover:bg-[#ff9b00] focus:ring-4 focus:outline-none focus:ring-[#ffac00] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-1 text-center">EDITAR</button>
                                </a>
                                <button th:attr="onclick=|openModalProductDelete('${producto.idProducto}', '${producto.nombre}', '${producto.imagen}')|" type="button" class="px-[1.5vw] md:px-[1vw] text-white bg-[#db4900] fuente_1 hover:bg-[#ff5500] focus:ring-4 focus:outline-none focus:ring-[#da6930] rounded-3xl text-xs md:text-base lg:text-base xl:text-xl py-1 text-center">ELIMINAR</button>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>

            <!-- Elemento Modal Detalles Producto -->
            <div>
              <div id="detalles_producto" class="fixed inset-0 z-50 hidden transition-transform duration-1000 ease-in-out flex items-center justify-center bg-gray-800 bg-opacity-50">
                  <div class="w-full max-w-[90vw] md:max-w-lg lg:max-w-lg xl:max-w-xl p-4 md:p-5 lg:p-5 xl:p-6 bg-[#faad86] rounded-[45px] shadow-lg">
                      <div class="grid grid-cols-12 start-0 flex items-stretch">
                          <p class="text-xl md:text-2xl lg:text-2xl xl:text-3xl fuente_4 text-white col-span-11 text-center place-self-center justify-self-center">Detalles del Producto</p>
                          <button id="cerrar_detalles_producto" type="button" class="inline-flex col-span-1 place-self-center justify-self-end text-white p-0.5 hover:bg-gray-600 hover:bg-opacity-10 rounded-xl">
                              <svg class="w-9 h-9 md:w-10 md:h-10 lg:w-10 lg:h-10 xl:w-12 xl:h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="9"/><path d="m14 10l-4 4m0-4l4 4"/></g></svg>
                          </button>
                      </div>
                      <div class="mb-2.5">
                        <div class="relative flex justify-center mt-2 mb-2">
                            <div class="flex justify-center w-full h-[24vw] md:h-[14vw] lg:h-[10vw] xl:h-[8vw] rounded-3xl">
                                <img class="object-cover rounded-[20px] md:rounded-[25px] lg:rounded-[35px]" id="producto-imagen" alt="Imagen del producto">
                            </div>
                        </div>
                        <p class="fuente_2 text-sm md:text-base lg:text-base xl:text-lg text-white px-5 md:px-10">Nombre: <span id="producto-nombre" class="capitalize ml-1 md:ml-3 text-justify fuente_5 text-white break-words"></span></p>
                        <p class="fuente_2 text-sm md:text-base lg:text-base xl:text-lg text-white px-5 md:px-10">Cantidad: <span id="producto-cantidad" class="capitalize ml-1 md:ml-3 text-justify fuente_5 text-white break-words"></span></p>
                        <p class="fuente_2 text-sm md:text-base lg:text-base xl:text-lg text-white px-5 md:px-10">Categoría: <span id="producto-categoria" class="capitalize ml-1 md:ml-3 text-justify fuente_5 text-white break-words"></span></p>
                        <div id="producto-extra"></div>
                      </div>
                  </div>
              </div>
            </div>

            <!-- Elemento Modal Agregar Productos -->
            <div>
                <div id="agregar_producto" class="fixed inset-0 z-50 hidden transition-transform duration-1000 ease-in-out flex items-center justify-center bg-gray-800 bg-opacity-50">
                    <div class="w-full max-w-[90vw] md:max-w-lg lg:max-w-lg xl:max-w-xl p-4 md:p-5 lg:p-5 xl:p-6 bg-[#faad86] rounded-[45px] shadow-lg">
                        <div class="grid grid-cols-12 start-0 flex items-stretch">
                            <p class="text-xl md:text-2xl lg:text-2xl xl:text-3xl fuente_4 text-white col-span-11 text-center place-self-center justify-self-center">¡ Nuevo Producto !</p>
                            <button id="cerrar_agregar_producto" type="button" class="inline-flex col-span-1 place-self-center justify-self-end text-white p-0.5 hover:bg-gray-600 hover:bg-opacity-10 rounded-xl">
                                <svg class="w-9 h-9 md:w-10 md:h-10 lg:w-10 lg:h-10 xl:w-12 xl:h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="9"/><path d="m14 10l-4 4m0-4l4 4"/></g></svg>
                            </button>
                        </div>
                        <form th:action="@{/inventario/create}" th:object="${producto}" method="post" enctype="multipart/form-data">
                            <div class="px-4 md:px-12 flex justify-center">
                                <div class="grid grid-cols-12 start-0 flex items-stretch mt-4 md:mt-4 lg:mt-4 xl:mt-5 px-4 w-full">
                                    <p class="col-span-5 text-center fuente_2 text-lg md:text-xl lg:text-xl xl:text-2xl text-white pr-6 place-self-center justify-self-end">Nombre:</p>
                                    <input type="text" id="nombre" th:field="*{nombre}" class="col-span-7 place-self-center justify-self-start fuente_3 bg-[#db4900] border border-[#db4900] text-white text-base md:text-base lg:text-base xl:text-lg rounded-3xl focus:ring-[#db4900] focus:border-[#db4900] block w-full p-1.5 px-2 md:p-2 md:px-3 lg:p-2 lg:px-3 xl:p-2 xl:px-3" required />
                                </div>
                            </div>

                            <div class="px-4 md:px-12 flex justify-center">
                                <div class="grid grid-cols-12 start-0 flex items-stretch mt-4 md:mt-4 lg:mt-4 xl:mt-5 px-4 w-full">
                                    <p class="col-span-5 text-center fuente_2 text-lg md:text-xl lg:text-xl xl:text-2xl text-white pr-6 place-self-center justify-self-end">Imagen:</p>
                                    <div class="relative col-span-7 place-self-center justify-self-start fuente_3 w-full bg-[#db4900] border border-[#da6930] rounded-3xl focus:ring-transparent focus:border-transparent flex py-1 md:py-1.5 lg:py-1.5 xl:py-2 px-2 md:px-2 lg:px-2 xl:px-3">
                                        <div id="imagen-previa" class="mt-1 md:mt-0 w-6 h-6 md:w-7 md:h-7 flex-shrink-0 overflow-hidden rounded-md">
                                            <svg class="w-6 h-6 md:w-7 md:h-7 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g fill="none">
                                                <path fill="white" d="M44 24C44 22.8954 43.1046 22 42 22C40.8954 22 40 22.8954 40 24H44ZM24 8C25.1046 8 26 7.10457 26 6C26 4.89543 25.1046 4 24 4V8ZM39 40H9V44H39V40ZM8 39V9H4V39H8ZM40 24V39H44V24H40ZM9 8H24V4H9V8ZM9 40C8.44772 40 8 39.5523 8 39H4C4 41.7614 6.23857 44 9 44V40ZM39 44C41.7614 44 44 41.7614 44 39H40C40 39.5523 39.5523 40 39 40V44ZM8 9C8 8.44772 8.44771 8 9 8V4C6.23858 4 4 6.23857 4 9H8Z"/><path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M6 35L16.6931 25.198C17.4389 24.5143 18.5779 24.4953 19.3461 25.1538L32 36"/><path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M28 31L32.7735 26.2265C33.4772 25.5228 34.5914 25.4436 35.3877 26.0408L42 31"/>
                                                <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M37 18L37 6"/><path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M32 11L37 6L42 11"/></g>
                                            </svg>
                                        </div>
                                        <p id="nombre_archivo" class="block text-xs md:text-xs lg:text-xs xl:text-sm fuente_2 text-white pl-1 overflow-hidden place-self-center">Seleccione un Archivo</p>
                                        <input id="archivo" name="imagenArchivo" type="file" onchange="validarTamanioImagen(this)" accept="image/jpeg, image/png" class="absolute inset-0 opacity-0 cursor-pointer" required> 
                                    </div>
                                </div>
                            </div>

                            <div id="alertContainer" class="fixed max-h-[84%] md:max-h-[76%] lg:max-h-[84%] xl:max-h-[82%] w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 top-[8%] md:top-[12%] lg:top-[8%] xl:top-[9%] right-2 md:right-4 space-y-4 z-10 overflow-hidden"></div>

                            <div class="px-4 md:px-12 flex justify-center">
                                <div class="grid grid-cols-12 start-0 flex items-stretch mt-4 md:mt-4 lg:mt-4 xl:mt-5 px-4 w-full">
                                    <p class="col-span-5 text-center fuente_2 text-lg md:text-xl lg:text-xl xl:text-2xl text-white pr-6 place-self-center justify-self-end">Cantidad:</p>
                                    <input type="number" id="cantidad" th:field="*{cantidad}" min="0" max="2140999999" class="col-span-7 place-self-center justify-self-start fuente_3 bg-[#db4900] border border-[#db4900] text-white text-base md:text-lg rounded-3xl focus:ring-[#db4900] focus:border-[#db4900] block w-full p-1.5 px-3 md:p-1.5 md:px-3 lg:p-1.5 lg:px-3 xl:p-2 xl:px-3" required />
                                </div>
                            </div>

                            <div class="px-4 md:px-12 flex justify-center">
                                <div class="grid grid-cols-12 start-0 flex items-stretch mt-4 md:mt-4 lg:mt-4 xl:mt-5 px-4 w-full">
                                    <p class="col-span-5 text-center fuente_2 text-lg md:text-xl lg:text-xl xl:text-2xl text-white pr-6 place-self-center justify-self-end">Categoria:</p>
                                    <div class="relative col-span-7 place-self-center justify-self-start fuente_3 w-full">
                                        <div id="opcion_seleccionada_categoria_agregar_producto" class="bg-[#db4900] text-white border border-[#da6930] focus:ring-[#da6930] focus:border-[#da6930] font-medium rounded-3xl text-sm md:text-base lg:text-base xl:text-lg fuente_2 w-full p-1.5 md:p-1.5 lg:p-1.5 xl:p-2 text-left cursor-pointer flex justify-between items-center">
                                            <span id="span_categoria" class="capitalize px-1">Seleccionar</span>
                                            <svg class="w-6 h-6 md:w-7 md:h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 10l5 5l5-5"/></svg>
                                        </div>
                                        <div id="opciones_categoria_agregar_producto" class="absolute hidden bg-[#db4900] border border-[#da6930] w-full text-sm md:text-base lg:text-base xl:text-base fuente_2 mt-1 z-10 max-h-48 overflow-y-auto">
                                            <div th:each="categoria : ${categorias}" class="capitalize px-4 py-2 text-white hover:bg-[#da6930] cursor-pointer" th:data-value="${categoria.nombre}" th:text="${categoria.nombre}"></div>
                                        </div>
                                        <select id="valores_categoria_agregar_producto" onchange="categoriaDinamica()" th:field="*{categoria}" class="hidden" required>
                                            <option value="" selected>Seleccionar</option>
                                            <option th:each="categoria : ${categorias}" th:text="${categoria.nombre}" th:value="${categoria.nombre}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="campos_dinamicos_agregar_productos"></div>

                            <div class="flex justify-evenly mt-6 mb-3 lg:mb-4">
                                <button type="submit" class="place-self-center col-span-6 px-[1vw] text-white bg-[#fe7355] fuente_1 hover:bg-[#ff8268] focus:ring-4 focus:outline-none focus:ring-[#dc6750] rounded-3xl text-base md:text-lg lg:text-lg xl:text-xl py-1.5 md:py-1.5 lg:py-1.5 xl:py-2 w-[30%] text-center">Registrar</button>
                                <button type="reset" onclick="closeModalInventarioAdd()" class="place-self-center col-span-6 px-[1vw] text-white bg-[#db4900] fuente_1 hover:bg-[#d96328] focus:ring-4 focus:outline-none focus:ring-[#bd5F30] rounded-3xl text-base md:text-lg lg:text-lg xl:text-xl py-1.5 md:py-1.5 lg:py-1.5 xl:py-2 w-[30%] text-center">Cancelar</button>
                            </div>
                        </form>                            
                    </div>
                </div>
            </div>

            <!-- Elemento Modal Eliminar Productos -->
            <div>
                <div id="eliminar_producto" class="fixed inset-0 z-50 hidden transition-transform duration-1000 ease-in-out flex items-center justify-center bg-gray-800 bg-opacity-50">
                    <div class="w-full max-w-[90vw] md:max-w-lg lg:max-w-lg xl:max-w-xl p-4 md:p-5 lg:p-5 xl:p-6 bg-[#faad86] rounded-[45px] shadow-lg">
                        <div class="grid grid-cols-12 start-0 flex items-stretch">
                          <div class="col-span-11 overflow-hidden"><p class="text-base md:text-2xl lg:text-2xl xl:text-3xl px-5 fuente_4 text-white text-center place-self-center justify-self-center">¿Está Seguro de Eliminar <span id="nombre_producto" class="capitalize break-words"></span> del Inventario?</p></div>
                            <button id="cerrar_eliminar_producto" type="button" class="inline-flex col-span-1 place-self-center justify-self-end text-white p-0.5 hover:bg-gray-600 hover:bg-opacity-10 rounded-xl">
                                <svg class="w-9 h-9 md:w-10 md:h-10 lg:w-10 lg:h-10 xl:w-12 xl:h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="9"/><path d="m14 10l-4 4m0-4l4 4"/></g>
                                </svg>
                            </button>
                        </div>
                        <form>
                            <div class="relative flex justify-center mt-4 md:mt-4 lg:mt-4 xl:mt-5">
                                <div class="flex justify-center w-full h-[24vw] md:h-[14vw] lg:h-[10vw] xl:h-[8vw] rounded-3xl">
                                    <img class="object-cover rounded-[20px] md:rounded-[25px] lg:rounded-[35px]" id="imagen_producto" alt="Producto">
                                </div>
                            </div>
                            <div class="flex justify-evenly mt-6 mb-1 lg:mb-2">
                                <button type="submit" id="confirmDeleteProductBtn" class="place-self-center col-span-6 px-[1vw] text-white bg-[#fe7355] fuente_1 hover:bg-[#ff8268] focus:ring-4 focus:outline-none focus:ring-[#dc6750] rounded-3xl text-base md:text-lg lg:text-lg xl:text-xl py-1.5 md:py-1.5 lg:py-1.5 xl:py-2 w-[30%] text-center">Eliminar</button>
                                <button type="button" onclick="closeModalInventarioDelete()" class="place-self-center col-span-6 px-[1vw] text-white bg-[#db4900] fuente_1 hover:bg-[#d96328] focus:ring-4 focus:outline-none focus:ring-[#bd5F30] rounded-3xl text-base md:text-lg lg:text-lg xl:text-xl py-1.5 md:py-1.5 lg:py-1.5 xl:py-2 w-[30%] text-center">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/formatearTexto.js"></script>
    <script src="/js/productos.js"></script>
    <script src="/js/agregarProductos.js"></script>
    <script src="/js/imagenPrevia.js"></script>
    <script src="/js/cerrarModal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</body>
</html>