<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/logo-navegador.png" type="Logo para el navegador">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Rubert’s Denim - Login</title>
</head>
<body class="bg-[#ffe1d2]">
    <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-3 2xl:grid-cols-3 absolute inset-0 z-10 items-stretch">
        <div class="col-span-1 hidden sm:hidden md:hidden lg:hidden xl:block 2xl:block">
            <div class="flex justify-center">
                <img class="object-cover xl:h-[70vh] 2xl:h-[80vh] absolute bottom-[10vh]" src="/img/login-imagen-1.png" alt="Imagen 1">
            </div>
        </div>
        <div class="col-span-1 self-center mx-[10vw] py-[16vw] lg:py-[10vw] xl:py-[2vw] sm:mx-[15vw] md:mx-[20vw] lg:mx-[25vw] xl:mx-[0vw] 2xl:mx-[2vw]">
            <div class="bg-[#db4900] bg-opacity-40 rounded-[45px]">
                <div class="relative flex justify-center">
                    <div class="absolute flex bg-[#fe7355] -top-[14vw] h-[28vw] w-[32vw] sm:-top-[10vw] sm:h-[20vw] sm:w-[22vw] md:-top-[8vw] md:h-[16vw] md:w-[20vw] lg:-top-[7vw] lg:h-[14vw] lg:w-[15vw] xl:-top-[5.5vw] xl:h-[11vw] xl:w-[12vw] 2xl:-top-[4vw] 2xl:h-[8vw] 2xl:w-[9vw] rounded-3xl">
                        <div class="flex justify-center w-full bg-[#faad86] m-3 rounded-3xl">
                            <img class="object-cover" src="/img/login-usuario.png" alt="Usuario">
                        </div>
                    </div>
                </div>
                <form th:action="@{/inicio-sesion}" method="post">
                    <div class="p-[10%] pt-[25%] sm:pt-[20%] h-full w-full">
                        <div class="mb-6">
                            <label for="email" class="fuente_1 block mb-2 ml-1 text-base sm:text-xl text-white">Correo Electrónico</label>
                            <input type="email" id="email" name="email" class="fuente_3 bg-[#db4900] border border-[#db4900] text-white text-base sm:text-lg rounded-3xl focus:ring-transparent focus:border-[#db4900] block w-full p-2 sm:p-3" required />
                        </div>
                        <div class="mb-14">
                            <label for="password" class="fuente_1 block mb-2 ml-1 text-base sm:text-xl text-white">Contraseña</label>
                            <div class="flex">
                              <input type="password" id="password" name="password" class="fuente_3 rounded-none rounded-s-3xl bg-[#db4900] border border-[#db4900] text-white focus:ring-transparent focus:border-[#db4900] block text-base sm:text-lg w-[65%] w-full py-2 md:py-3 pl-3 pr-1 md:w-full lg:w-full placeholder-white see-hidden-password" required>
                              <button type="button" id="togglePasswordButton" class="inline-flex items-center pl-1 pr-3 text-white bg-[#db4900] hover:bg-[#ff5500] border border-e-0 border-[#db4900] rounded-e-3xl focus:ring-[#db4900] focus:border-[#db4900]">                             
                                  <svg id="Icon" class="w-6 h-6 md:w-7 md:h-7 lg:w-7 lg:h-7 xl:w-8 xl:h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path fill="white" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5"/>
                                  </svg>
                              </button>
                          </div>
                        </div>

                        <!-- Alerta User o Password Incorrecto -->
                        <script src="/js/alerta.js"></script>

                        <div id="alertContainer" th:if="${error}" th:with="errorMensaje=${error}" class="fixed max-h-[84%] md:max-h-[76%] lg:max-h-[84%] xl:max-h-[82%] w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 top-[8%] md:top-[12%] lg:top-[8%] xl:top-[9%] right-2 md:right-4 space-y-4 z-10 overflow-hidden">
                          <script th:inline="javascript">
                            var errorMensaje = /*[[${errorMensaje}]]*/ 'Error';
                            showAlert(errorMensaje);
                          </script>
                        </div>
                            
                        <button type="submit" class="fuente_1 flex items-center justify-center text-white bg-[#db4900] hover:bg-[#ff5500] focus:ring-4 focus:outline-none focus:ring-[#e8763d] rounded-3xl text-base sm:text-xl w-full py-2 sm:py-3 text-center">Inicia Sesión en tu Cuenta 
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-[0.65vw] xl:ml-[0.35vw] h-[18px] w-[18px] sm:h-[20px] sm:w-[20px] md:h-[22px] md:w-[22px] lg:h-[24px] lg:w-[24px]" viewBox="0 0 512 512">
                                <path fill="white" d="M352 96l64 0c17.7 0 32 14.3 32 32l0 256c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0c53 0 96-43 96-96l0-256c0-53-43-96-96-96l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32zm-9.4 182.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L242.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-span-1 hidden sm:hidden md:hidden lg:hidden xl:block 2xl:block">
            <div class="flex justify-center">
                <img class="object-cover xl:h-[25vh] 2xl:h-[35vh] absolute bottom-[10vh]" src="/img/login-imagen-2.png" alt="Imagen 2">
            </div>
        </div>
    </div>

    <footer class="fixed bottom-0 w-full h-[45vh] -z-10">
        <div class="absolute inset-0">
            <img class="object-cover w-full h-full" src="/img/login-fondo.png" alt="Fondo">
        </div>
    </footer>
    
    <script src="/js/contrasena.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>