<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Actualizar Usuario</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Actualizar Usuario</h1>
        <form th:action="@{'/editar-usuario/' + ${user.id}}" th:object="${user}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" th:field="*{email}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="imageFile" class="form-label">Seleciona una Imagen:</label>
                <input class="form-control" type="file" accept="image/*" id="imageFile" name="imageFile" onchange="validarTamanioImagen(this)">
            </div>
            <div id="imagen-previa" class="w-7 h-7 flex-shrink-0 overflow-hidden rounded-md">
                <img th:src="${user.image}" alt="Imagen del Usuario" width="100" class="w-7 h-7 flex-shrink-0 rounded-lg">
            </div>
            <span id="mensaje-error" class="text-red-500"></span>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>

    <script src="/js/imagenPrevia.js"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
