<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Editar Productos</title>
</head>
<body>

    <div class="container mx-auto p-[wv-10]">
        <h1 class="text-2xl font-bold mb-4">Editar Producto</h1>
        <form th:action="@{/inventario/update}" th:object="${producto}" method="post" enctype="multipart/form-data" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <input type="hidden" th:field="*{idProducto}" />
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="nombre">
                Nombre:
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nombre" type="text" th:field="*{nombre}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="categoria">
                Categoría:
                </label>
                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="categoria" th:field="*{categoria}">
                    <option value="Hilos">Hilos</option>
                    <option value="Elasticos">Elasticos</option>
                    <option value="Etiquetas">Etiquetas</option>
                    <option value="Botones">Botones</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="cantidad">
                Cantidad:
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cantidad" type="number" th:field="*{cantidad}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="color">
                Color:
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="color" type="text" th:field="*{color}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="imagenArchivo">
                Imagen:
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="imagenArchivo" type="file" name="imagenArchivo">
                <img th:src="${producto.imagen}" alt="Imagen del Producto" width="100" class="mt-2">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Guardar Cambios
                </button>
            </div>
        </form>
    </div>

</body>
</html>