<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/logo-navegador.png" type="Logo para el navegador">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/productos.css">
    <title>Rubert’s Denim - Editar Usuarios</title>
</head>
<body class="bg-[#ffe1d2]">

    <div class="grid grid-cols-1">
        <div class="col-span-1">
            <!-- Elemento Modal Editar Usuarios -->
            <div>
                <div id="editar_usuario" class="fixed inset-0 z-50 transition-transform duration-1000 ease-in-out flex items-center justify-center bg-gray-800 bg-opacity-50">
                    <div class="w-full max-w-[90vw] md:max-w-lg lg:max-w-lg xl:max-w-xl p-4 md:p-5 lg:p-5 xl:p-6 bg-[#faad86] rounded-[45px] shadow-lg">
                        <div class="grid grid-cols-12 start-0 flex items-stretch">
                            <div class="col-span-11 overflow-hidden"><p th:text="${user.name}" class="capitalize text-xl md:text-2xl lg:text-2xl xl:text-3xl px-5 fuente_4 text-white text-center place-self-center justify-self-center break-words">Name User</p></div>
                            <a href="/usuarios" class="justify-self-end">
                                <button type="button" class="inline-flex col-span-1 place-self-center justify-self-end text-white p-0.5 hover:bg-gray-600 hover:bg-opacity-10 rounded-xl">
                                    <svg class="w-9 h-9 md:w-10 md:h-10 lg:w-10 lg:h-10 xl:w-12 xl:h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="9"/><path d="m14 10l-4 4m0-4l4 4"/></g>
                                    </svg>
                                </button>
                            </a>
                        </div>
                        <form th:action="@{'/usuarios/update/' + ${user.id}}" th:object="${user}" method="post" enctype="multipart/form-data">
                            <div class="px-4 md:px-12 flex justify-center">
                                <div class="grid grid-cols-12 start-0 flex items-stretch mt-4 md:mt-4 lg:mt-4 xl:mt-5 px-4 w-full">
                                    <input type="hidden" th:field="*{id}" />
                                    <p class="col-span-5 text-center fuente_2 text-lg md:text-xl lg:text-xl xl:text-2xl text-white pr-6 place-self-center justify-self-end">Nombre:</p>
                                    <input type="text" id="name" th:field="*{name}" class="capitalize col-span-7 place-self-center justify-self-start fuente_3 bg-[#db4900] border border-[#db4900] text-white text-base md:text-base lg:text-base xl:text-lg rounded-3xl focus:ring-[#db4900] focus:border-[#db4900] block w-full p-1.5 px-2 md:p-2 md:px-3 lg:p-2 lg:px-3 xl:p-2 xl:px-3" required />
                                </div>
                            </div>

                            <div class="px-4 md:px-12 flex justify-center">
                                <div class="grid grid-cols-12 start-0 flex items-stretch mt-4 md:mt-4 lg:mt-4 xl:mt-5 px-4 w-full">
                                    <p class="col-span-5 text-center fuente_2 text-lg md:text-xl lg:text-xl xl:text-2xl text-white pr-6 place-self-center justify-self-end">Email:</p>
                                    <input type="email" id="email" th:field="*{email}" class="col-span-7 place-self-center justify-self-start fuente_3 bg-[#db4900] border border-[#db4900] text-white text-base md:text-base lg:text-base xl:text-lg rounded-3xl focus:ring-[#db4900] focus:border-[#db4900] block w-full p-1.5 px-2 md:p-2 md:px-3 lg:p-2 lg:px-3 xl:p-2 xl:px-3" required />
                                </div>
                            </div>
                            
                            <!-- Alerta de Email en uso -->
                            <div id="alertEmailUser" th:if="${error != null}" class="fixed max-h-[84%] md:max-h-[76%] lg:max-h-[84%] xl:max-h-[82%] w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 top-[8%] md:top-[12%] lg:top-[8%] xl:top-[9%] right-2 md:right-4 space-y-4 z-[60] overflow-hidden">
                                <div class="alert flex flex-col w-full bg-[#e8763d] text-white rounded-xl shadow-xl" style="opacity: 1;">
                                    <span th:text="${error}" class="px-4 py-4 md:px-5 md:py-6 fuente_alerta text-sm md:text-lg lg:text-lg"></span>
                                    <div class="w-full bg-white rounded-b-xl h-2 overflow-hidden">
                                        <div class="progress-bar bg-[#db4900] rounded-bl-xl h-full" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-4 md:px-12 flex justify-center">
                                <div class="grid grid-cols-12 start-0 flex items-stretch mt-4 md:mt-4 lg:mt-4 xl:mt-5 px-4 w-full">
                                    <p class="col-span-5 text-center fuente_2 text-lg md:text-xl lg:text-xl xl:text-2xl text-white pr-6 place-self-center justify-self-end">Imagen:</p>
                                    <div class="relative col-span-7 place-self-center justify-self-start fuente_3 w-full bg-[#db4900] border border-[#da6930] rounded-3xl focus:ring-transparent focus:border-transparent flex py-1 md:py-1.5 lg:py-1.5 xl:py-2 px-2 md:px-2 lg:px-2 xl:px-3">
                                        <div id="imagen-previa" class="mt-1 md:mt-0 w-6 h-6 md:w-7 md:h-7 flex-shrink-0 overflow-hidden rounded-md">
                                            <img th:src="${user.image != null} ? ${user.image} : '/img/producto-sin-imagen.png'" alt="Imagen del Usuario" class="w-6 h-6 md:w-7 md:h-7 flex-shrink-0 rounded-lg">
                                        </div>
                                        <p id="nombre_archivo" class="block text-xs md:text-xs lg:text-xs xl:text-sm fuente_2 text-white pl-1 overflow-hidden place-self-center">Seleccione otro Archivo</p>
                                        <input id="imageFile" name="imageFile" type="file" accept="image/jpeg, image/png" onchange="validarTamanioImagen(this)" class="absolute inset-0 opacity-0 cursor-pointer">
                                    </div>
                                </div>
                            </div>
                            
                            <div id="alertContainer" class="fixed max-h-[84%] md:max-h-[76%] lg:max-h-[84%] xl:max-h-[82%] w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 top-[8%] md:top-[12%] lg:top-[8%] xl:top-[9%] right-2 md:right-4 space-y-4 z-10 overflow-hidden"></div>

                            <div class="flex justify-evenly mt-6 mb-3 lg:mb-4">
                                <button type="submit" class="place-self-center col-span-6 px-[1vw] text-white bg-[#fe7355] fuente_1 hover:bg-[#ff8268] focus:ring-4 focus:outline-none focus:ring-[#dc6750] rounded-3xl text-base md:text-lg lg:text-lg xl:text-xl py-1.5 md:py-1.5 lg:py-1.5 xl:py-2 w-[30%] text-center">Guardar</button>
                                <a href="/usuarios" class="w-[32%]">
                                    <button type="button" class="place-self-center col-span-6 px-[1vw] text-white bg-[#db4900] fuente_1 hover:bg-[#d96328] focus:ring-4 focus:outline-none focus:ring-[#bd5F30] rounded-3xl text-base md:text-lg lg:text-lg xl:text-xl py-1.5 md:py-1.5 lg:py-1.5 xl:py-2 w-full text-center">Cancelar</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/alertaEmailUser.js"></script>
    <script src="/js/imagenPrevia.js"></script>
    <script src="/js/updateUsers.js"></script>
    
</body>
</html>